name: Deploy

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # 1. LOG IN TO AWS EXPLICITLY
      # This step guarantees the keys are loaded correctly
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      # 2. Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # 3. Init (Connect to S3)
      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform-lab

      # 4. Apply (Create Infrastructure)
      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./terraform-lab
